<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Affordable and ...">
  <meta name="keywords" content="WELCOME, POLITICO">
  <meta name="author" content="voting">
  <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
  <title>WELCOME TO POLITICO</title>
  <link rel="stylesheet" href="../../style/css/style.css" type="text/css" >
</head>
<body>

<header>
  <div class="container">
    <div id="branding">
      <h1><span class="highlight " >Admin</span>Politico</h1>
    </div>

    <nav>
      <ul>
        <li><a href="">CREATE </a></li>
        <li><a href="signup.html">EDIT</a></li>
        <li><a href="login.html">LOGOUT</a></li>
      </ul>
    </nav>
  </div>
</header>

<div  class="columns">

<h1>CREATE A POLITICAL PARTY</h1>

<form action="" method="post">
  <label for="PPN">add name of the political Party</label>
  <input type="text" name="PPN" placeholder="Create the Paty Name">
  <label for="PPM">add the Party Motto</label>
  <input type="text" name="PPM" placeholder="Create the Paty Motto">
  <label for="PPM">add the Party Leader</label>
  <input type="text" name="PPN" placeholder="Create the Paty Leader">
  <button type="submit" class="button_1" name="submit">Create Party</button>

</form>




<h1> POLITICAL PARTYS</h1>
<table id="adm-vw">
  <thead>
    <tr>
      <td>Party Names</td>


      <td>Party Leaders</td>


      <td>Party Mottos</td>


      <td>Party Members</td>


      <td>Edit</td>


      <td>Delete</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>KANU</td>


      <td>Moi</td>

      <td>Harambee</td>


      <td><a href="P-members.html">Party Members</a></td>


      <td><a href="#">edit</a></td>


      <td><a href="#">delete</a></td>
    </tr>
    <tr>
      <td>KAPU</td>


      <td>Another</td>

      <td>Jogoo</td>


      <td><a href="P-members.html">Party Members</a></td>


      <td><a href="#">edit</a></td>


      <td><a href="#">delete</a></td>
    </tr>
  </tbody>
</table>

<h1>CREATE Political Offices for Aspirants</h1>

<form action="" method="post">
  <label for="essay">The Aspirant's Essay</label>
  <textarea name="essay" rows="8" cols="80">Why Me?</textarea><br>
  <label for="fullnames">ASpirants Full Names</label><br>
  <input type="text" name="RN" placeholder=""><br>
  <label for="PPM">The Aspirant's County </label>
  <select name="area" id=""><br>
    <option value="">Mombasa</option>
    <option value="">Nairobi</option>
    <option value="">Kisumu</option>
  </select><br>
  <label for="work">Financial Security</label><br>
  <select name="yesorno" id=""><option value="">Yes</option><br>
                         <option value="">No</option> </select>
  <label for="office"> The Interested Office</label><br>
  <select name="post" id=""><option value="">Presidency</option>
                            <option value="">Governonship</option>
                          <option value="">Deputy Governonship</option>
                        <option value="">MP</option>
                      <option value="">MCA</option>
                    <option value="">Women's Rep</option><br>
  <button type="submit" class="button_1" name="submit" >VALIDATE<button>
   <div class="container">
    <h1>HOT IN POLITICS<h1>
    <h1>SUCCESSFUL VOTES</h1>
    <h1>WINNERS</h1>

  </div>
</div>
</body>
<footer id="tw" >
  <p>Politico website, Copyright &copy; 2019</p>
</footer>
</html>
