<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Affordable and ...">
  <meta name="keywords" content="WELCOME, POLITICO">
  <meta name="author" content="voting">
  <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
  <title>EDIT THE PARTY</title>
  <link rel="stylesheet" href="../../style/css/style.css" type="text/css" >
</head>
<body>

<header>
  <div class="container">
    <div id="branding">
      <h1><span class="highlight " >Admin</span>Edits</h1>
    </div>

    <nav>
      <ul>
        <li><a href="">CREATE </a></li>
        <li><a href="signup.html">EDIT</a></li>
        <li><a href="login.html">LOGOUT</a></li>
      </ul>
    </nav>
  </div>
</header>
<body>

<div class="container">
  <div class="columns">
<form action="index.html" method="post" enctype="multipart/form-data">


         <label for="PPN">Name of the Party</label>
          <input type="text" value="" class="form-control" name="PPN">

         <label for="Motto">Party Motto</label>
          <input type="text" value="" class="form-control" name="motto">

         <label for="PL">Party Leader</label>
          <input type="text" value="" class="form-control" name="PL">


          <button class="button_1" id="edit-party-butt" type="submit" name="edit_party" value="Update Party">Edit Party</button>


</form>
</div>
</div>
</body>
<!-- <footer id="admn" >
  <p>Politico website, Copyright &copy; 2019</p>
</footer> -->
