<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <link rel="stylesheet" href="../style/css/login.css" type="text/css" >
</head>
<body>

    <div class="wrap">
      <h2>login</h2>
      <form action="" method="POST" >
        <input placeholder="Your full names ..." name="fullname" type="text">
        <input placeholder="Your Password ..." name="Password" type="text">

        <a href="aft-login.html"><input type="submit" class="linkButton" name="submit">Login</a>
      </div>
    </form>
    </div>

</body>
</html>
