
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Affordable and ...">
  <meta name="keywords" content="WELCOME, POLITICO">
  <meta name="author" content="voting">
  <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
  <title>WELCOME TO POLITICO</title>
  <link rel="stylesheet" href="../../static/style/css/style.css" type="text/css" >
</head>
<body>

<header>
  <div class="container">
    <div id="branding">
      <h1><span class="highlight " >Polit</span>ico</h1>
    </div>

    <nav>
      <ul>
        <li><a href="">NEWS </a></li>
        <li><a href="signup.html">RESULTS</a></li>
        <li><a href="login.html">LOGOUT</a></li>
      </ul>
    </nav>
  </div>
</header>
<body>
<div class="container" id="PI">
<h1>Are You Interested In Running for Office?</h1>
<div id="pol-ff" class="container">
<h2>What Do you think you may accomplish for Citizens as a leader? </h2>
<h4>To Get Started, Fill in the forms below. </h4>
<p>Also Note that you have to write a short essay for people to get to know you</p>

<div class="container" id="fb">


<form action="" method="post">
  <label for="essay">Write a 3-minute story about what makes you think that you are a qualified to become leader.</label>
  <textarea name="essay" rows="8" cols="80">Why Me?</textarea><br><hr><br>

  <label for="fullnames">Enter your Full Names as they are in your ID</label>
  <input type="text" name="RN" placeholder="Your Name ..."><br>
  <label for="PPM">Select The County You will Vie for</label>
  <select name="area" id=""><br>
    <option value="">Mombasa</option>
    <option value="">Nairobi</option>
    <option value="">Kisumu</option>
  </select><br>
  <label for="work">Do you hold any Job at the moment?</label>
  <select name="yesorno" id=""><option value="">Yes</option>
                         <option value="">No</option> </select><br>
  <label for="office">Select The Office You are interested to Run for</label>
  <select name="post" id=""><option value="">Presidency</option>
                            <option value="">Governonship</option>
                          <option value="">Deputy Governonship</option>
                        <option value="">MP</option>
                      <option value="">MCA</option>
                    <option value="">Women's Rep</option><br>
                  </select><br>
  <button type="submit" class="button_1" name="submit">Send Request<button>
</form>
</div>
</div>
</div>
</body>
<footer id="tw" >
  <p>Politico website, Copyright &copy; 2019</p>
</footer>
