<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup
    </title>
    <link rel="stylesheet" href="../style/css/register.css" type="text/css" >
</head>
<body>
  <div class="container">
    <h1>Signup</h1>
    <form action="" method="POST">

        <label for="fullname">Enter your full names as they are in your ID</label><br>
        <input placeholder="Enter your Full Names" name="fullname" type="text"><br>
        <label for="region">Select The County you'll be voting:</label>
        <select name="region" id="">
          <option value="county1">KIlifi</option>
          <option value="county2">Nairobi</option>
          <option value="county3">Mombasa</option>
        </select><br>
        <label for="region">Select The Constituency you'll be voting:</label>
        <select name="CDF" id="">
          <option value="county1">KIlifi North</option>
          <option value="county2">Kilifi South</option>
        </select><br>
        <label for="region">Select The Ward you'll be voting:</label>
        <select name="Ward" id="">
          <option value="Ward1">Mbali</option>
          <option value="county2">Karibu</option>
        </select><br>
        <label for="email">Email</label><br>
        <input placeholder="Enter your email" name="email" type="text"><br>
        <label for="password">Password</label><br>
        <input placeholder="Enter your password" name="password" type="text"><br>
        <label for="confirm_password">confirm password</label><br>
        <input placeholder="Confirm your password" name="confirm_password" type="text"><br><br>
        <!-- <input name="signup" value="Signup" type="Submit"> -->
        <a href="aft-login.html"><input type="submit" value="Signup" class="linkButton" name="submit"></a>
    </form>
    </div>
</body>
</html>
