<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Affordable and ...">
  <meta name="keywords" content="WELCOME, POLITICO">
  <meta name="author" content="voting">
  <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
  <title>WELCOME TO POLITICO</title>
  <link rel="stylesheet" href="../style/css/style.css" type="text/css" >
</head>
<body>

<header>
  <div class="container">
    <div id="branding">
      <h1><span class="highlight " >Polit</span>ico</h1>
    </div>

    <nav>
      <ul>
        <li><a href="">NEWS </a></li>
        <li><a href="results.html">RESULTS</a></li>
        <li><a href="index.html">LOGOUT</a></li>
      </ul>
    </nav>
  </div>
</header>
<!-- <section id="t-" > -->
<div id="respass"class="container">
<h4>To reset your Password Enter The Email  You signed up with</h4>
<form action="" method="post">
  <label for="conf">Enter Your email</label><br>
  <input type="text" name="email" placeholder="Your email ..."><br>
  <label for="conf">confirm email</label><br>
  <input type="text" name="email" placeholder="Confirm Your email ..."><br>
  <button class="button_1" name="submit" type="submit">Send</button>
<p>* A link to reset password has been sent to your email</p>
</form>
</div>
</body>

</html>
